openapi: 3.2.0
info:
  title: CentML Models API
  description: Specification of the CentML API surface.
  termsOfService: https://centml.ai/terms-of-service/
  contact:
    name: CentML Support
    url: https://docs.centml.ai/resources/requesting_support
  version: '1.0'
servers:
- url: https://api.centml.com/openai/v1
  description: OpenAI-compatible serverless inference base URL.
- url: https://api.centml.com
  description: CentML platform (control-plane) base URL for deployments and clusters.
security:
- bearerAuth: []
tags:
- name: Models
paths:
  /models:
    get:
      operationId: listModels
      tags:
      - Models
      summary: Lists the models available on CentML serverless endpoints
      description: Returns the set of model IDs available to the authenticated account on the OpenAI-compatible serverless API. Served at https://api.centml.com/openai/v1/models.
      servers:
      - url: https://api.centml.com/openai/v1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
  /models/{model}:
    get:
      operationId: retrieveModel
      tags:
      - Models
      summary: Retrieves a model instance
      description: Returns metadata for a single model by ID. Served at https://api.centml.com/openai/v1/models/{model}.
      servers:
      - url: https://api.centml.com/openai/v1
      parameters:
      - name: model
        in: path
        required: true
        description: The ID of the model to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
components:
  schemas:
    ListModelsResponse:
      type: object
      required:
      - object
      - data
      properties:
        object:
          type: string
          enum:
          - list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Model:
      type: object
      required:
      - id
      - object
      properties:
        id:
          type: string
          description: The model identifier.
        object:
          type: string
          enum:
          - model
        created:
          type: integer
        owned_by:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: CentML API key
      description: 'Set the `Authorization: Bearer <CENTML_API_KEY>` header. Serverless inference uses a serverless token; the platform API uses an account access token. Both are issued from the CentML platform.'
