openapi: 3.0.1
info:
  title: CentML Chat Clusters API
  description: 'Specification of the CentML API surface. CentML exposes two related but distinct HTTP APIs: (1) an OpenAI-compatible serverless inference API for chat completions, text completions, and model listing served at https://api.centml.com/openai/v1, authenticated with a Bearer serverless token; and (2) a platform (control-plane) API for managing dedicated inference / compute / job deployments and clusters, also Bearer-authenticated. Both are modeled here. Endpoints reflect CentML''s published documentation (docs.centml.ai) and the official platform_api_python_client.'
  termsOfService: https://centml.ai/terms-of-service/
  contact:
    name: CentML Support
    url: https://docs.centml.ai/resources/requesting_support
  version: '1.0'
servers:
- url: https://api.centml.com/openai/v1
  description: OpenAI-compatible serverless inference base URL.
- url: https://api.centml.com
  description: CentML platform (control-plane) base URL for deployments and clusters.
security:
- bearerAuth: []
tags:
- name: Clusters
paths:
  /clusters:
    get:
      operationId: getClusters
      tags:
      - Clusters
      summary: Lists the regional clusters available to the account.
      description: Platform control-plane endpoint. Returns the managed regional clusters a deployment can be placed on. Served at https://api.centml.com/clusters.
      servers:
      - url: https://api.centml.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterList'
  /capacity:
    get:
      operationId: listCapacity
      tags:
      - Clusters
      summary: Lists available GPU capacity and hardware instances.
      description: Platform control-plane endpoint. Returns the GPU hardware instance types and available capacity for placing deployments. Served at https://api.centml.com/capacity.
      servers:
      - url: https://api.centml.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityList'
components:
  schemas:
    CapacityList:
      type: object
      properties:
        hardware_instances:
          type: array
          items:
            $ref: '#/components/schemas/HardwareInstance'
    HardwareInstance:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          description: GPU instance type (e.g. A100, H100, L4).
        gpu_count:
          type: integer
        cost_per_hour:
          type: number
          description: Per-GPU-hour cost for the instance.
    Cluster:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        region:
          type: string
    ClusterList:
      type: object
      properties:
        clusters:
          type: array
          items:
            $ref: '#/components/schemas/Cluster'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: CentML API key
      description: 'Set the `Authorization: Bearer <CENTML_API_KEY>` header. Serverless inference uses a serverless token; the platform API uses an account access token. Both are issued from the CentML platform.'
